<article class="bcls-article">
  <h1>{{page.title}}</h1> <summary>{{page.description}}</summary> <section class="bcls-section"> {% if site.product_short == Video Cloud-fr/ %}
    <div class="training-video-player-ipx" data-experience="5a73630f7afd7a00101bc1b5" data-video-ids="6054750976001">&nbsp;</div> <script src="https://players.brightcove.net/20318290001/experience_5a73630f7afd7a00101bc1b5/live.js"></script> {% endif %}
    <p>La fonction Quick Edit permet de modifier facilement les propriétés des vidéos de plusieurs vidéos. Cliquez sur<strong> Quick Edit</strong> pour ouvrir le panneau Quick Edit sur le côté droit du module Media.</p>   <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-media-img/node15923-quick-edit.png" /></figure></section><section class="bcls-section">
    <p>Le panneau Quick Edit affiche un sous-ensemble des propriétés de la vidéo:</p>
    <ul>
      <li>Nom</li>
      <li>Brève description</li>
      <li>Description longue</li>
      <li>Tags à ajouter</li>
      <li>Balises à supprimer</li>
      <li>URL du lien associé</li>
      <li>Texte du lien associé</li>
      <li>Publicité</li>
      <li>Clés publicitaires</li>
      <li>Planification des dates de début et de fin</li>
      <li>Géofiltrage</li>
      <li>Champs personnalisés</li>
    {% if site.product_short == Cloud vidéo-fr/ %}
      <li>Restrictions de</li>
   {% endif %}
    </ul> <aside class="bcls-aside bcls-aside--information">Remarque: Pour une description de toutes ces propriétés, consultez la rubrique<a href="/media/editing-video-properties-using-media-module.html"> Modification des propriétés vidéo à l'aide du module</a> multimédia.</aside>
    <p>Utilisez le panneau Quick Edit pour attribuer des valeurs. Lorsque vous avez terminé, cliquez sur Enregistrer pour enregistrer les modifications ou sur Annuler pour quitter.</p>  </section><section class="bcls-section">
    <h2 id="notes">Remarques relatives à l'utilisation de Quick</h2>
    <ul>
      <li>Lorsqu'au moins une vidéo possède des valeurs attribuées à une propriété,<strong> Edit Mixed Value (Modifier la valeur mixte) s'</strong>affiche <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-media-img/node15923-mixed-values.png" /></figure>
      </li>
      <li>Un astérisque (*) suivant le nom de la propriété indique une propriété requise</li>
      <li>Pour annuler les modifications apportées à une propriété, cliquez sur<strong> Restaurer</strong> <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-media-img/node15923-restore.png" /></figure>
      </li>
    </ul>   </section></article>