<article class="bcls-article">
  <h1>{{page.title}}</h1> <summary>{{page.description}}</summary> <section class="bcls-section"> {% if site.product_short == Video Cloud-fr/ %}
    <div class="training-video-player-ipx" data-experience="5a73630f7afd7a00101bc1b5" data-video-ids="1710999192206152489">&nbsp;</div> <script src="https://players.brightcove.net/20318290001/experience_5a73630f7afd7a00101bc1b5/live.js"></script> {% endif %}
    <p>{{site.product}} permet de générer des sous-titres vidéo pour les vidéos récemment mises en ligne ou existantes. Une fois les fichiers de sous-titres générés, ils sont automatiquement configurés dans le cadre des propriétés des pistes de texte de la vidéo. Brightcove<a href="#review"> recommande de vérifier l'exactitude</a> des sous-titres générés. Le temps de traitement pour générer les sous-titres varie, mais il faut généralement environ 1,5 fois la longueur de la vidéo pour générer les sous-titres d'une vidéo. </p>
    <p>Pour générer des légendes, les éléments suivants sont requis:</p>
    <ul>
      <li>Les vidéos doivent avoir été transcodées à l'aide d'un profil d'acquisition Context Aware ou Dynamic Delivery</li>
      <li> La longueur minimale d'une vidéo pour générer des sous-titres automatiques est la suivante:
        <ul>
          <li>5 secondes, si la langue est spécifiée</li>
          <li>15 secondes, si la langue est détectée automatiquement</li>
        </ul>
      </li>
      <li>La durée maximale d'une vidéo pouvant être sous-titrée automatiquement est de 4 heures</li>
    </ul>
    <p>{{site.product_short}} utilise le processus de suivi pour déterminer la source qui sera utilisée pour générer les légendes.</p>
    <ul>
      <li>Si la vidéo possède une piste audio par défaut, elle sera utilisée comme fichier source des sous-titres (prise en charge par défaut dans le module Médias)</li>
      <li>Si la vidéo n'a pas de piste audio par défaut mais qu'il existe un fichier master/mezzanine, celui-ci sera utilisé comme fichier source (pris en charge par défaut dans le module Media)</li>
      <li>Si la vidéo n'a pas de piste audio par défaut ou de fichiers maître/mezzanine, mais que des pistes audio sont spécifiées dans l'appel Dynamic Ingest, la piste audio spécifiée sera utilisée (pas encore prise en charge dans le module Media)</li>
      <li>Si la vidéo ne possède aucune piste audio par défaut, aucun fichier maître/mezzanine et qu'aucune piste audio n'est spécifiée, les sous-titres ne peuvent pas être générés</li>
    </ul>
{% if site.product_short == Campagne-fr/ %}
    <p>Si vous faites appel à un tiers pour générer des fichiers de sous-titres, consultez<a href="adding-text-tracks-to-a-video.html"> Ajout de pistes de texte à une vidéo</a> pour plus d'informations sur la façon d'associer des fichiers de sous-titres à des vidéos.</p>
{% else %}
    <p>Si vous faites appel à un tiers pour générer des fichiers de sous-titres, consultez<a href="adding-captions-videos-using-media-module.html"> Ajout de sous-titres aux vidéos à l'aide du module Médias</a> pour plus d'informations sur la façon d'associer des fichiers de sous-titres à des vidéos.</p>
 {% endif %}<aside class="bcls-aside bcls-aside--information"> Remarque: Veuillez contacter votre responsable de compte Brightcove pour activer cette fonctionnalité. </aside> </section>{% if site.product_short != Campagne-fr/ %} <section class="bcls-section">
    <h2 id="upload">Générer des légendes lors du chargement de vidéos</h2>
    <p>Le module Upload fournit une option permettant de générer des fichiers de sous-titres lorsque des vidéos sont téléchargées. Pour générer un fichier de sous-titres lors du chargement, procédez comme suit.</p>
    <ol class="bcls-tasklist-restart">
      <li>Ouvrez le<strong> module</strong> Upload.</li>
      <li>Activez l'<strong></strong>option Sous-titrage<strong> automatique, la boîte de</strong> dialogue Paramètres de sous-titrage automatique s'ouvre. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-media-img/gen-captions-settings.png" /></figure>
      </li>
      <li>Sélectionnez la<strong> langue dans laquelle</strong> générer les sous-titres ou sélectionnez<strong> Détection automatique</strong> pour générer des sous-titres dans la langue parlée dans la vidéo. Si aucune<strong> langue n'</strong>est sélectionnée, la langue de la vidéo est détectée automatiquement. La sélection d'une langue améliore le temps de génération du fichier de sous-titres et peut améliorer la précision globale.</li>
      <li>Saisissez une<strong> étiquette</strong>. L'étiquette est généralement définie sur la langue utilisée dans la vidéo. L'étiquette sera affichée dans la liste déroulante CC du lecteur vidéo et sera utilisée par les spectateurs pour sélectionner les légendes à afficher.</li>
      <li>Cliquez sur<span class="button-blue"> Terminé</span>.</li>
    </ol> </section> {% endif %} <section class="bcls-section">
    <h2 id="existing">Générer des sous-titres pour une vidéo existante</h2>
    <p>Le module multimédia {% if site.product_short == Campaign-fr/ %}<strong> Videos</strong> page {% else %}<strong> Media</strong> module {% endif %} fournit la possibilité de générer des fichiers de sous-titres pour les vidéos existantes dans votre compte. Pour générer un fichier de sous-titres pour une vidéo existante, procédez comme suit.</p>
    <ol class="bcls-tasklist-restart">
{% if site.product_short == Campagne-fr/ %}
      <li>Ouvrez la<strong> page</strong> Vidéos.</li>
{% else %}
      <li>Ouvrez le<strong> module</strong> Médias.</li>
 {% endif %}
      <li>Cliquez sur le lien de la vidéo que vous souhaitez modifier pour ouvrir les propriétés de la vidéo.</li>
{% if site.product_short == Beacon-fr/ ou site.product_short == CorpTV-fr/ %}
      <li>Cliquez sur l'<strong>onglet</strong> Vidéo et pistes.</li>
{% endif %}
      <li>Localisez la<strong> section Pistes de</strong> texte et cliquez sur<span class="button-blue-text-bordered"> Modifier</span></li>
      <li>Sélectionnez l'<strong>option Légende</strong> automatique.</li>
      <li>Sélectionnez la<strong> langue</strong> dans laquelle générer les légendes. Si aucune<strong> langue n'</strong>est sélectionnée, la langue de la vidéo est détectée automatiquement. La sélection d'une langue améliore le temps de génération du fichier de sous-titres et peut améliorer la précision globale.</li>
      <li>Saisissez une<strong> étiquette</strong>. L'étiquette est généralement définie sur la langue utilisée dans la vidéo. L'étiquette sera affichée dans la liste déroulante CC du lecteur vidéo et sera utilisée par les spectateurs pour sélectionner les légendes à afficher. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-media-img/gen-captions-auto-caption.png" /></figure>
      </li>
      <li>Cliquez sur<span class="button-blue"> Ajouter une piste de texte</span>
      <li>Cliquez sur<span class="button-blue"> Enregistrer</span>.</li>
    </ol>
    <p>Le processus de génération de sous-titres va commencer. Une fois terminé, un message s'affiche.</p>
    <p> <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-media-img/gen-captions-complete.png" /></figure>
    </p>
    <p>Une fois les sous-titres générés, Brightcove recommande de les<a href="#review"> revoir</a>.</p> </section> {% if site.product_short != Campagne-fr/ %} <section class="bcls-section">
    <h2 id="multiple">Générer des légendes pour plusieurs vidéos</h2>
    <p>Le module Médias offre également la possibilité de générer des fichiers de sous-titres pour plusieurs vidéos à la fois. Un maximum de 100 vidéos peuvent être sous-titrées à la fois. Pour générer des fichiers de sous-titres pour plusieurs vidéos, procédez comme suit.</p>
    <ol class="bcls-tasklist-restart">
      <li>Ouvrez le<strong> module</strong> Médias.</li>
      <li>Cochez la case en regard des vidéos pour lesquelles vous souhaitez générer des sous-titres.</li>
      <li>Cliquez sur<strong> Plus</strong> &gt;<strong> Sous-titre automatique</strong>.</li>
    </ol> </section> {% endif %} <section class="bcls-section">
    <h2 id="review">Vérification des fichiers de sous-titres</h2>
    <p>Une fois les fichiers de sous-titres générés, ils sont automatiquement configurés dans le cadre des propriétés des pistes de texte de la vidéo. Les sous-titres auront le statut<strong> Publié</strong> et apparaîtront immédiatement pendant la lecteur de la vidéo. Brightcove recommande de passer en revue les légendes générées.</p>
    <ol class="bcls-tasklist-restart">
{% if site.product_short == Campagne-fr/ %}
      <li>Ouvrez la<strong> page</strong> Vidéos.</li>
{% else %}
      <li>Ouvrez le<strong> module</strong> Médias.</li>
 {% endif %}
      <li>Cliquez sur la vidéo pour ouvrir les propriétés de la vidéo.</li>
      <li>En haut de la page, cliquez sur le<strong> bouton</strong> CC pour ouvrir l'éditeur de légende. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-media-img/capedit-cc-icon.png" /></figure>
      </li>
      <li>Modifiez le texte de la légende selon vos besoins. Appuyez sur la touche Tabulation en dehors du champ pour enregistrer les modifications.</li>
      <li>Cliquez sur<strong> Enregistrer le brouillon</strong> pour définir le statut de la légende sur<strong> Brouillon</strong> et les légendes ne seront pas affichées. Cliquez sur<span class="button-blue"> Publier la piste</span> de texte pour définir le statut de la légende sur<strong> Publié</strong> et les légendes seront affichées.  </li>
    </ol>  </section><section class="bcls-section">
    <h2 id="download">Téléchargement de fichiers de sous-titres</h2>
    <p>Il y a de fortes chances que le processus de génération des sous-titres ne soit pas parfait et que vous deviez modifier les noms utilisés dans la vidéo et/ou la ponctuation. Le module Media permet de télécharger des fichiers de sous-titres. Pour télécharger un fichier de sous-titres, procédez comme suit.</p>
    <ol class="bcls-tasklist-restart">
      {% if site.product_short == Campagne-fr/ %}
      <li>Ouvrez la<strong> page</strong> Vidéos.</li>
      {% else %}
      <li>Ouvrez le<strong> module</strong> Médias.</li>
      {% endif %}
      <li>Cliquez sur le lien correspondant à la vidéo que vous souhaitez modifier.</li>
      <li>Localisez la<strong> section Pistes de</strong> texte et cliquez sur<span class="button-blue-text-bordered"> Modifier</span>. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-media-img/gen-captions-edit-text-track.png" /></figure>
        </li>
      <li>Cliquez sur l'icône de téléchargement (<img class="bcls-image--no-border" alt="" src="/assets/images/s-media-img/icon-download.png" />) dans la<strong> colonne</strong> Actions pour télécharger le fichier de sous-titres.</li>
      </ol>
    <p>Le fichier de légende est un fichier WEBVTT formaté et peut être édité à l'aide de n'importe quel éditeur de texte. Une fois les modifications apportées, supprimez le fichier de sous-titres existant en cliquant sur l'icône de suppression (<img class="bcls-image--no-border" alt="" src="/assets/images/s-media-img/icon-red-delete.png" />) dans la<strong> colonne</strong> Actions. Le fichier de sous-titres modifié peut ensuite être téléchargé. Pour plus d'informations sur la façon de charger un nouveau fichier de pistes de texte, voir {% if site.product_short == Campaign-fr/ %}<a href="adding-text-tracks-to-a-video#texttrack"> Ajouter des pistes de texte à une vidéo</a> {% else %}<a href="adding-captions-videos-using-media-module.html#texttrack"> Configuration des propriétés de la piste de texte</a> {% endif %}.</p>  </section><section class="bcls-section">
    <h2 id="supported_languages">Langues prises en charge</h2>
    <p>Actuellement, les sous-titres automatiques sont limités aux langues suivantes.</p>
    <table>
      <tr>
        <td width="311"><ul>
          <li>Arabe (Golfe)</li>
          <li>Arabe (standard moderne)</li>
          <li>Chinois (mandarin)</li>
          <li>néerlandais</li>
          <li>Anglais (australien)</li>
          <li>Anglais (britannique)</li>
          <li>Anglais (indien)</li>
          <li>Anglais (irlandais)</li>
          <li>Anglais (États-Unis)</li>
          <li>Farsi</li>
          <li>français</li>
          <li>Français (canadien)</li>
          <li>allemand</li>
          <li>Allemand (Suisse)</li>
          <li>Hébreu</li>
        </ul></td>
        <td width="255"><ul>
          <li>Hindi (indien)</li>
          <li>indonésien</li>
          <li>italien</li>
          <li>japonais</li>
          <li>coréen</li>
          <li>malais</li>
          <li>portugais</li>
          <li>portugais (brésilien)</li>
          <li>russe</li>
          <li>espagnol</li>
          <li>espagnol (États-Unis)</li>
          <li>Tamoul</li>
          <li>télougou</li>
          <li>turc</li>
        </ul></td>
      </tr>
    </table>   </section></article>