<article class="bcls-article">
  <h1>{{page.title}}</h1> <summary>{{page.description}}</summary> <section class="bcls-section"> {% if site.product_short == Video Cloud-fr/ %}
    <div class="training-video-player-ipx" data-experience="5a73630f7afd7a00101bc1b5" data-video-ids="4172570294001">&nbsp;</div> <script src="https://players.brightcove.net/20318290001/experience_5a73630f7afd7a00101bc1b5/live.js"></script> {% endif %}
    <p>Les dossiers peuvent être créés dans le<strong> module</strong> Médias et peuvent être utilisés pour organiser des vidéos. Vous pouvez choisir d'organiser les vidéos par sujet, auteur, produit, région, etc. Le fait d'avoir des vidéos dans des dossiers facilite leur gestion dans un compte contenant des centaines ou des milliers de vidéos. Les dossiers sont affichés dans le panneau de navigation latéral. Le nombre de vidéos de chaque dossier s'affiche en regard du nom du dossier. Cliquez sur le bouton de navigation latéral<img alt="" src="/assets/images/s-media-img/node15095-side-nav-button.png" /> pour masquer ou afficher le panneau de navigation latéral.</p>
    {% if site.product_short == Video Cloud-fr/ %}<figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-media-img/node15095-folder-list-vc.png" /></figure> {% endif %} {% if site.product_short == Beacon-fr/ %}<figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-media-img/folders-list-beacon.png" /></figure> {% endif %}<aside class="bcls-aside bcls-aside--information"> Remarques:
      <ul>
        <li>Les dossiers imbriqués ne sont pas pris en charge.</li>
        <li>Un maximum de 100 vidéos peuvent être déplacées dans un dossier en même temps.</li>
        <li>Chaque compte peut contenir un maximum de 1 000 dossiers.</li>
      </ul>   </aside></section><section class="bcls-section">
    <h2 id="create">Création de dossiers</h2>
    <p>Pour créer un nouveau dossier, procédez comme suit:</p>
    <ol class="bcls-tasklist-restart">
      <li>Ouvrez le<strong> module</strong> Médias.</li>
      <li>Cliquez sur<strong> Créer un dossier</strong> dans le panneau de navigation latéral.</li>
      <li>Entrez un nom pour le dossier en suivant les instructions suivantes. Appuyez sur Entrée.
        <ul>
          <li>Le nom est limité à 100 caractères</li>
          <li>Les noms de dossiers doivent être uniques au sein d'un compte</li>
          <li>Caractère illégal:/</li>
        </ul> <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-media-img/node15095-new-folder.png" /></figure>
      </li>
    </ol> <aside class="bcls-aside bcls-aside--information">Remarque: Il est possible de créer un maximum de 1 000 dossiers.</aside>
    <p>Pour supprimer rapidement le dossier, cliquez sur le<strong> X</strong> après le nom du dossier.</p>  </section><section class="bcls-section">
    <h2 id="add">Ajout de vidéos aux dossiers</h2>
    <p>Il existe plusieurs manières d'ajouter des vidéos à un dossier. Vous pouvez:</p>
    <ul>
      <li><a href="#multipleadd">Ajouter plusieurs vidéos à un dossier</a></li>
      <li><a href="#propertiesadd">Modifier les propriétés de la vidéo pour attribuer un dossier</a></li>
    </ul> <aside class="bcls-aside bcls-aside--information">Remarque: Il n'y a pas de limite au nombre de vidéos pouvant se trouver dans un dossier.</aside>
    <div class="BCL-subsection" id="multipleadd">
      <h3>Ajout de plusieurs vidéos à un dossier</h3>
      <p>Vous pouvez ajouter plusieurs vidéos à la fois à un dossier en suivant ces étapes.</p>
      <ol class="bcls-tasklist-restart">
        <li>Ouvrez le<strong> module</strong> Médias. </li>
        <li> Cliquez sur<strong> Toutes les vidéos</strong> dans le panneau de navigation latéral pour afficher toutes les vidéos. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-media-img/node15095-select-videos.png" /></figure> <aside class="bcls-aside bcls-aside--information">Remarque: Le chiffre qui suit le nom du dossier indique le nombre de vidéos qu'il contient.</aside>
        </li>
        <li>Sélectionnez les vidéos à ajouter à un dossier en cochant la case en regard de la miniature de la vidéo. Cliquez sur<strong> Plus &gt; Déplacer vers le dossier</strong>.</li>
        <li>Sélectionnez un dossier et cliquez sur<span class="button-blue"> Déplacer</span> <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-media-img/node15095-move-to-folder.png" /></figure>
        </li>
      </ol>
    </div>
    <div class="BCL-subsection" id="propertiesadd">
      <h3>Modification des propriétés de la vidéo pour attribuer un dossier</h3>
      <p>Les vidéos peuvent être ajoutées à un dossier en modifiant les propriétés de la vidéo et en attribuant un dossier.</p>
      <ol class="bcls-tasklist-restart">
        <li>Ouvrez le<strong> module</strong> Médias.</li>
        <li>Cliquez sur le lien de la vidéo.</li>
        <li>Dans la<strong> section</strong> Catégorisation, sélectionnez un<strong> dossier</strong>. Vous pouvez également créer un nouveau dossier en cliquant sur<strong> + Créer un dossier</strong>. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-media-img/node15095-video-info-folder.png" /></figure>
        </li>
      </ol>
    </div>  </section><section class="bcls-section">
    <h2 id="view">Visionnage de vidéos dans un dossier</h2>
    <p>Pour afficher les vidéos d'un dossier, cliquez sur le nom d'un dossier.</p>   <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-media-img/node15095-videos-in-folder.png" /></figure></section><section class="bcls-section">
    <h2 id="remove">Suppression de vidéos de dossiers</h2>
    <p>Vous pouvez<a href="#removedel"> supprimer plusieurs vidéos d'un dossier</a> ou supprimer une seule vidéo d'un dossier en<a href="#propertiesdel"> modifiant les propriétés de la vidéo</a>.</p>
    <div class="BCL-subsection" id="removedel">
      <h3>Suppression de plusieurs vidéos d'un dossier</h3>
      <p>Vous pouvez supprimer plusieurs vidéos d'un dossier en suivant ces étapes.</p>
      <ol class="bcls-tasklist-restart">
        <li>Ouvrez les<strong> médias</strong></li>
        <li>Cliquez sur le lien du dossier.</li>
        <li>Cochez les cases en regard des vidéos à supprimer et cliquez sur<strong> Supprimer les vidéos &gt; Supprimer les vidéos du dossier</strong>.</li>
      </ol>
    </div>
    <div class="BCL-subsection" id="propertiesdel">
      <h3>Modification des propriétés de la vidéo</h3>
      <p>Les vidéos peuvent être supprimées d'un dossier en modifiant les propriétés de la vidéo et en supprimant le dossier dans le panneau Informations sur la vidéo.</p>
      <ol class="bcls-tasklist-restart">
        <li>Ouvrez les<strong> médias</strong></li>
        <li>Cliquez sur le lien du dossier.</li>
        <li>Dans la<strong> section</strong> Catégorisation, <strong></strong>définissez le<strong> dossier</strong> sur<strong> ---</strong>. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-media-img/node15095-clear-folder.png" /></figure>
        </li>
      </ol>
      <p>Notez que cette méthode peut également être utilisée pour sélectionner un autre dossier dans lequel déplacer la vidéo.</p>
    </div>  </section><section class="bcls-section">
    <h2 id="delete">Suppression et changement de nom de dossiers</h2>
    <p>Les dossiers peuvent être renommés ou supprimés en procédant comme suit:</p>
    <ol class="bcls-tasklist-restart">
      <li>Cliquez sur le dossier à renommer ou à supprimer. </li>
      <li>Cliquez sur la flèche vers le bas en regard du dossier, puis cliquez sur<strong> Renommer</strong> ou<strong> Supprimer</strong>. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-media-img/node15095-delete-folder.png" /></figure>
      </li>
    </ol>   </section></article>