<h1>{{page.title}}</h1> <article class="bcls-article"> <summary>{{page.description}}</summary> <section class="bcls-section"> {% if site.product_short == Video Cloud-fr/ %}
    <div class="training-video-player-ipx" data-experience="5a73630f7afd7a00101bc1b5" data-video-ids="6052172921001">&nbsp;</div> <script src="https://players.brightcove.net/20318290001/experience_5a73630f7afd7a00101bc1b5/live.js"></script> {% endif %} {% if site.product_short == Cloud vidéo-fr/ %}
    <p>Les vidéos de votre compte {{site.product_short}} sont associées à une affiche et des images miniatures. {% endif %} {% if site.product_short == Beacon-fr/ ou site.product_short == CorpTV-fr/ %} Les vidéos de votre compte {{site.product_short}} sont associées à une affiche, une vignette, un portrait, un paysage et images ultra-larges. {% endif %} Ces images permettent aux spectateurs de choisir les vidéos qu'ils souhaitent voir dans une playlist ou une autre liste de votre contenu. Les affiches et les vignettes sont visibles dans les zones suivantes:</p>
    <ul>
      <li>Dans le module Médias, l'image miniature est affichée à côté de la vidéo&nbsp;; l'image de l'affiche apparaîtra dans le lecteur d'aperçu sur la page des propriétés de la vidéo</li>
      <li>L'image miniature apparaît lors de la publication d'une liste de lecteur</li>
      <li>L'image de l'affiche s'affiche dans la zone de lecteur du lecteur vidéo après le chargement du lecteur et les métadonnées vidéo sont disponibles&nbsp;; l'affiche s'affiche jusqu'à ce que le spectateur appuie sur le bouton de lecteur</li>
    </ul>
    <p>Pour les vidéos téléchargées sur {{site.product_short}}, les affiches et les vignettes sont créées automatiquement en prenant un instantané de la vidéo source à mi-parcours. La taille de l'affiche et de la miniature est basée sur les dimensions spécifiées dans le profil d'acquisition utilisé lors du téléchargement de la vidéo. Si vous n'aimez pas les images par défaut qui ont été capturées, vous pouvez télécharger d'autres images ou<a href="/media/capturing-poster-and-thumbnail-images.html"> capturer de nouvelles images</a> à utiliser comme affiche et vignette.</p> <aside class="bcls-aside bcls-aside--information"> Remarques:
      <ul>
        <li>Si vous chargez des images pour une vidéo que vous avez récemment mise en ligne, vous devez attendre la fin du traitement de la vidéo. Dans le cas contraire, le chargement de l'image échouera.</li>
        <li>Le traitement des images téléchargées étant un processus asynchrone, les erreurs rencontrées ne seront pas immédiatement apparentes. Vous devez actualiser la page au bout de 30 secondes pour vérifier que les images ont bien été téléchargées et traitées.</li>
        <li>Il n'est pas possible de supprimer des images à l'aide du module Médias.</li>
      </ul> </aside>
    <p>Lorsque vous chargez des affiches personnalisées et des images miniatures, nous vous recommandons:</p>
    <ul>
      <li><strong>Image de l'affiche</strong> - Rapport hauteur/largeur recommandé de 16:9 et une largeur minimale de 640 px</li>
      <li><strong>Image miniature</strong>: rapport hauteur/largeur recommandé de 16:9 et largeur minimale de 160 pixels</li>
{% if site.product_short == Beacon-fr/ ou site.product_short == CorpTV-fr/ %}
        <li><strong>Image paysage</strong> - Rapport hauteur/largeur recommandé de 16:9</li>
        <li><strong>Portrait</strong>: rapport hauteur/largeur recommandé de 2:3</li>
        <li><strong>Image ultra-large</strong> - Rapport hauteur/largeur recommandé de 21:9</li>
{% endif %}
            </ul> <aside class="bcls-aside bcls-aside--information">Remarque: Les images téléchargées doivent utiliser le format couleur sRGB.</aside>
    <p>Lorsque vous chargez de nouvelles images d'affiche et de vignettes, les dimensions de l'image sont basées sur les dimensions d'image spécifiées dans le profil d'acquisition par défaut du compte. Pour plus d'informations sur l'amélioration de la qualité des affiches et des vignettes, voir<a href="/media/increasing-quality-poster-and-thumbnail-images.html"> Amélioration de la qualité des affiches et des vignettes</a>.</p>  </section><section class="bcls-section">
    <h2 id="steps">Étapes pour télécharger de nouvelles images</h2>
    <p>Pour télécharger de nouvelles images, procédez comme suit:</p>
    <ol class="bcls-tasklist-restart">
      <li>Ouvrez le<strong> module</strong> Médias.</li>
{% if site.product_short == Beacon-fr/ ou site.product_short == CorpTV-fr/ %}
      <li>Cliquez sur<strong> Toutes les vidéos</strong> dans le panneau de navigation.</li>
{% endif %}
      <li>Cliquez sur le lien correspondant à la vidéo que vous souhaitez modifier.</li>
    {% if site.product_short == Cloud vidéo-fr/ %}
      <li>Localisez la<strong> section</strong> Images.</li>
   {% endif %} {% if site.product_short == Beacon-fr/ ou site.product_short == CorpTV-fr/ %}
      <li>Cliquez sur l'<strong>onglet</strong> Images.</li>
{% endif %}
      <li>Passez la souris sur l'affiche/la miniature et cliquez sur le bouton de téléchargement. {% if site.product_short == Video Cloud-fr/ %}<figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-media-img/node15519-edit-images-vc.png" /></figure> {% endif %} {% if site.product_short == Beacon-fr/ ou site.product_short == CorpTV-fr/ %}<figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-media-img/node15519-edit-images-beacon.png" /></figure> {% endif %}
      </li>
      <li>Parcourez et sélectionnez une nouvelle image. Cela peut prendre une minute pour terminer le traitement et pour que les images apparaissent dans le module Médias. <aside class="bcls-aside bcls-aside--information">Remarque: les images .png et .jpg sont prises en charge.</aside>
      </li>
    </ol>  </section><section class="bcls-section">
    <h2 id="Limitations">Limitations</h2>
    <ul>
      <li>Le système d'ingestion n'autorise pas les tâches simultanées sur la même vidéo. Par conséquent, si vous tentez de télécharger des images alors que la vidéo est ingérée ou retranscodée, le téléchargement de l'image échouera.</li>
      <li>Si la vidéo a été acquise à l'aide d'un profil hérité, le bouton de téléchargement sera activé, mais le téléchargement de l'image échouera. La solution consiste à<a href="/media/retranscoding-videos-using-media-module.html"> retranscoder</a> ou à<a href="/media/replacing-video-source-file.html"> remplacer</a> la vidéo à l'aide d'un profil Dynamic Delivery ou Context Aware Encoding.</li>
    </ul>   </section></article>