<article class="bcls-article">
  <h1>{{page.title}}</h1> <summary>{{page.description}}</summary> <section class="bcls-section">
    <p>En général, les vidéos sont téléchargées sur {{site.product_short}} à l'aide du module Upload. Ces fichiers sont ensuite gérés par Brightcove. Avec les ressources distantes, vous conservez vos fichiers vidéo sur votre propre système ou sur un système tiers, puis vous fournissez à {{site.product_short}} l'URL du fichier vidéo.</p>
    <p>Les vidéos de ressources distantes peuvent également être créées à l'aide de l'API CMS. Pour plus d'informations, consultez la documentation destinée aux<a href="https://apis.support.brightcove.com/cms/managing-videos/using-cms-api-remote-assets.html"> développeurs</a>. Les vidéos de ressources distantes créées à l'aide de l'API<span translate="No"> CMS</span> peuvent ensuite être gérées à l'aide du module Media.</p>  </section><section class="bcls-section">
    <h2 id="access">Accès aux ressources distantes</h2>
    <p>Tous vos fichiers de ressources distants doivent être disponibles sur une URL publique sans aucune exigence d'authentification ou de contrôle d'accès. Si vos ressources distantes sont hébergées par un CDN, l'URL des ressources distantes doit être l'URL des ressources du CDN et non l'URL du serveur d'origine.</p>  </section><section class="bcls-section">
    <h2 id="create">Vidéo sur la création d'un actif distant</h2>
    <p>Pour créer une vidéo sur les ressources distantes, procédez comme suit.</p>
    <ol class="bcls-tasklist-restart">
      <li>Ouvrez le<strong> module</strong> Médias.</li>
      <li>Cliquez sur<strong> Ajouter une vidéo distante</strong> dans le panneau de navigation latéral. La boîte de dialogue Ajouter une vidéo distante s'ouvre. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-media-img/node16244-add-remote-video.png" /></figure>
      </li>
      <li>Saisissez le nom de la<strong> vidéo</strong>. Le nom de la vidéo sera affiché dans le module Médias et également dans le lecteur.</li>
      <li>Sélectionnez le type de<strong> vidéo</strong>,<strong> Live</strong> ou<strong> On Demand</strong>.</li> <aside class="bcls-aside bcls-aside--information">Veuillez noter que<strong> Live</strong> prend uniquement en charge HLS et<strong> On Demand</strong> prend en charge HLS, MP4 et DASH.</aside>
      <li>Pour<strong> les types de</strong> vidéos à la demande, saisissez la<strong> durée</strong> au format hh:mm:ss.</li>
      <li>Pour chaque format associé, entrez l'URL<strong> et le</strong> format du format<strong> associé</strong>. Cliquez sur<span class="button-blue"> Ajouter un format associé</span>.</li> <aside class="bcls-aside bcls-aside--information">Remarque: Les URL relatives aux protocoles sont prises en charge.</aside> <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-media-img/node16244-remote-video-props.png" /></figure>
      </li>
      <li>Cliquez sur<span class="button-blue"> Enregistrer</span> pour enregistrer la ressource distante. La vidéo de la ressource distante sera répertoriée dans le module Médias après l'actualisation de la page. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-media-img/node16244-media-module.png" /></figure>
      </li>
    </ol>
    <p>Les vidéos de ressources distantes ne comporteront pas d'affiches ou de vignettes, mais les images peuvent être téléchargées. Pour plus d'informations sur le téléchargement d'affiches et de vignettes, consultez la section<a href="/media/uploading-poster-and-thumbnail-images.html"> Chargement d'images d'affiches et de vignettes</a>.</p>  </section><section class="bcls-section">
    <h2 id="edit">Montage d'une vidéo sur un actif distant</h2>
    <p>Pour modifier la vidéo d'une ressource distante, procédez comme suit.</p>
    <ol class="bcls-tasklist-restart">
      <li>Ouvrez le<strong> module</strong> Médias.</li>
{% if site.product_short == Beacon-fr/ ou site.product_short == CorpTV-fr/ %}
      <li>Cliquez sur<strong> Toutes les vidéos</strong> dans le panneau de navigation.</li>
{% endif %}
      <li>Cliquez sur le titre de la vidéo de l'actif distant pour ouvrir les propriétés de la vidéo.</li>
{% if site.product_short == Beacon-fr/ ou site.product_short == CorpTV-fr/ %}
      <li>Cliquez sur l'<strong>onglet</strong> Vidéo et pistes.</li>
{% endif %}
      <li>Localisez la<strong> section Fichiers</strong> vidéo - Ressources distantes et cliquez sur<span class="button-blue-text-bordered"> Modifier</span>.</li>
      <li>Cliquez sur une<strong> ligne</strong> Source pour la sélectionner. Cliquez sur l'URL source pour l'ouvrir dans un autre onglet du navigateur. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-media-img/node16244-edit-remote-asset.png" /></figure>
      </li>
      <li>Mettez à jour l'<strong>URL</strong> et<strong> la durée</strong> si nécessaire. Cliquez sur<span class="button-blue"> Enregistrer</span> pour enregistrer les modifications.</li>
    </ol>  </section><section class="bcls-section">
    <h2 id="limitations">Limitations</h2>
    <ul>
      <li>Vous ne pouvez pas utiliser la fonction de capture d'image pour créer des images fixes et des images miniatures pour les vidéos de ressources distantes. Toutefois, les images fixes et miniatures vidéo peuvent être téléchargées pour les vidéos de ressources distantes</li>
      <li>Les vidéos de ressources distantes créées dans<strong> des comptes</strong> Basic ne peuvent pas être modifiées après leur création</li>
      <li>SSAI n'est pas pris en charge pour les ressources distantes</li>
      <li>Les DRM ne sont pris en charge que si vous pouvez personnaliser le lecteur pour communiquer avec le serveur de licences DRM. C'est possible avec le lecteur Brightcove via un plugin. Pour les autres lecteur
s, vous devrez consulter la documentation du lecteur.</li>
      <li>Analytics: le système Brightcove Analytics dépend des métadonnées vidéo générées par le système, telles que la durée de la vidéo. Les données d'analyse des ressources distantes seront moins riches si vous ne pouvez pas fournir ces métadonnées pour la ressource distante.</li>
      <li>Garantie de lecteur: toutes les vidéos ingérées dans {{site.product_short}} peuvent être lues dans le lecteur Brightcove. Cela est vrai pour presque tous les actifs distants, mais dans certains cas extrêmes, les vidéos peuvent ne pas être lues. Il existe quelques fonctionnalités avancées de DASH et HLS que nous ne prenons pas encore en charge, par exemple. Pour les lecteurs autres que Brightcove, vous devrez vérifier que le format vidéo est entièrement pris en charge par ce lecteur.</li>
      <li>Les spectateurs peuvent ne pas être en mesure de lire les vidéos des ressources distantes si l'heure de leur ordinateur est réglée en avance sur l'heure réelle</li>
      <li>Les points de repère ne peuvent pas être ajoutés aux vidéos de ressources distantes en</li>
      <li>Il n'est pas possible de convertir un actif VOD normal existant en un actif distant</li>
{% if site.product_short == Beacon-fr/ ou site.product_short == CorpTV-fr/ %}
      <li>Les ressources distantes peuvent être créées/ajoutées aux listes de lecteur Video Cloud mais ne peuvent pas être ingées/ajoutées aux listes de lecteur Beacon/OTT dans {{site.product_short}} Studio.</li>
    <li>Les ressources en direct peuvent être créées/ajoutées aux listes de lecteur Video Cloud mais ne peuvent pas être ingées/ajoutées aux listes de lecteur Beacon/OTT dans {{site.product_short}} Studio.</li>
{% endif %}
    </ul>   </section></article>