<article class="bcls-article">
  <h1>{{page.title}}</h1> <summary>{{page.description}}</summary> <section class="bcls-section"> {% if site.product_short == Video Cloud-fr/ %}
    <div class="training-video-player-ipx" data-experience="5a73630f7afd7a00101bc1b5" data-video-ids="6040424098001">&nbsp;</div> <script src="https://players.brightcove.net/20318290001/experience_5a73630f7afd7a00101bc1b5/live.js"></script> {% endif %}
    <h3>Prérequis</h3>
    <ul>
{% if site.product_short == Cloud vidéo-fr/ %}
      <li>Vous avez<a href="/get-started/basics/uploading-videos.html"> mis en ligne</a> des vidéos sur votre compte {{site.product_short}}</li>
   {% endif %} {% if site.product_short == Beacon-fr/ ou site.product_short == CorpTV-fr/ %}
      <li>Vous avez<a href="/get-started/basics/media/uploading-videos.html"> mis en ligne</a> des vidéos sur votre compte {{site.product_short}}</li>
   {% endif %}
    </ul>
    <h3>Étapes</h3>
    <ol class="bcls-tasklist-restart">
      <li>Dans la navigation principale, cliquez sur<strong> Media</strong>.</li>
      <li>Dans le panneau de navigation latéral, cliquez sur le<strong> lien</strong> Créer une liste de lecteur.</li>
      <li>Saisissez un nom de<strong> liste de lecteur</strong>.</li>
    {% if site.product_short == Cloud vidéo-fr/ %}
      <li>Pour le type<strong> Playlist</strong>, cliquez sur Playlist<strong> manuelle</strong>. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-media-img/basics/node18813-manual-playlist-vc.png" /></figure></li>
   {% endif %} {% if site.product_short == Beacon-fr/ ou site.product_short == CorpTV-fr/ %}
      <li>Pour le type de<strong> liste de lecteur</strong>, cliquez sur la liste de lecteur manuelle de<strong> Video Cloud</strong>. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-media-img/basics/node18813-manual-playlist-beacon.png" /></figure></li>
   {% endif %}
      <li>Cliquez sur<span class="button-blue"> Créer une playlist</span>. Le panneau va se fermer puis rouvrir.</li>
      <li>Cochez<strong> Afficher la liste de lecteur dans la barre latérale</strong> pour que la liste de lecteur apparaisse dans la barre </li>
      <li>Cliquez sur<strong> X</strong> pour fermer le panneau.</li>
      <li>Pour ajouter des vidéos à la liste de lecteur, cliquez sur<strong> Toutes les vidéos</strong> dans le panneau de navigation latéral afin d'afficher toutes les vidéos du compte.</li>
      <li>Cochez la case en regard des vidéos que vous souhaitez ajouter à la liste de lecteur.</li>
      <li>Cliquez sur<span class="button-blue-text-bordered"> Plus Ë‡</span> &gt;<strong> Ajouter à la liste de lecteur</strong>.</li>
      <li>Sélectionnez une liste de lecteur, puis cliquez sur<span class="button-blue"> Ajouter</span>. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-media-img/basics/node18813-add-to-playlist.png" /></figure>
      </li>
    </ol>
    <p>Pour réorganiser l'ordre des vidéos, sélectionnez la liste de lecteur, puis cliquez sur une ligne et faites-la glisser vers un nouvel emplacement dans la liste.</p> <aside class="bcls-aside bcls-aside--information">Remarque: Pour plus de détails sur la création d'une liste de lecteur manuelle, voir<a href="/media/creating-and-managing-playlists.html"> Création et gestion de listes de lecteur</a>.</aside> </section> </article> 