<article class="bcls-article">
<h1>{{page.title}}</h1> <summary>{{page.description}}</summary> <section class="bcls-section"> {% if site.product_short == Video Cloud-fr/ %}
<div class="training-video-player-ipx" data-experience="5a73630f7afd7a00101bc1b5" data-video-ids="6038250741001">&nbsp;</div> <script src="https://players.brightcove.net/20318290001/experience_5a73630f7afd7a00101bc1b5/live.js"></script> {% endif %}
<h3>Prérequis</h3>
<ul>
{% if site.product_short == Cloud vidéo-fr/ %}
  <li>Vous avez<a href="/get-started/basics/uploading-videos.html"> mis en ligne</a> des vidéos sur votre compte {{site.product_short}}</li>
  <li>Vous avez<a href="/get-started/basics/editing-basic-video-properties.html"> ajouté des tags</a> à vos vidéos</li>
   {% endif %} {% if site.product_short == Beacon-fr/ ou site.product_short == CorpTV-fr/ %}
  <li>Vous avez<a href="/get-started/basics/media/uploading-videos.html"> mis en ligne</a> des vidéos sur votre compte {{site.product_short}}</li>
  <li>Vous avez<a href="/get-started/basics/media/editing-basic-video-details.html"> ajouté des tags</a> à vos vidéos</li>
   {% endif %}
</ul>
<h3>Étapes</h3>
<ol class="bcls-tasklist-restart">
  <li>Dans la navigation principale, cliquez sur<strong> Media</strong>.</li>
  <li>Dans le panneau de navigation latéral, cliquez sur le<strong> lien</strong> Créer une liste de lecteur.</li>
  <li>Saisissez un nom de<strong> liste de lecteur</strong>.</li>
    {% if site.product_short == Cloud vidéo-fr/ %}
  <li>Dans la<strong> section Type de</strong> liste de lecteur, cliquez sur Liste de lecteur<strong> intelligente</strong>. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-media-img/basics/node18815-create-smart-playlist-vc.png" /></figure>
  </li>
   {% endif %} {% if site.product_short == Beacon-fr/ ou site.product_short == CorpTV-fr/ %}
  <li>Dans la<strong> section Type de</strong> liste de lecteur, cliquez sur la liste de lecteur intelligente<strong> Video Cloud</strong>. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-media-img/basics/node18815-create-smart-playlist-beacon.png" /></figure>
  </li>
   {% endif %}
  <li>Cliquez sur<span class="button-blue"> Créer une playlist</span>.</li>
  <li>Sélectionnez un<strong> paramètre</strong> de<strong> balises</strong>.</li>
  <li>Définissez l'opérateur sur Faire<strong> correspondre n'importe quel</strong>.</li>
  <li> Entrez la ou les balises appropriées et appuyez sur Entrée. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-media-img/basics/node18815-smart-playlist.png" /></figure>
  </li>
  <li>Cliquez sur<span class="button-blue"> Appliquer</span>.</li>
  <li>Cliquez sur l'<strong>onglet</strong> Vue d'ensemble.</li>
  <li>Cochez<strong> Afficher la liste de lecteur dans la barre latérale</strong> pour que la liste de lecteur apparaisse dans la barre</li>
  <li>Fermez le panneau en cliquant sur le<strong> X</strong>.</li>
  <li>Cliquez sur le nom de la<strong> </strong> playlist que vous venez de créer dans le panneau de navigation latéral et vérifiez que les bonnes vidéos ont été ajoutées à la liste de lecteur.</li>
</ol> <aside class="bcls-aside bcls-aside--information">Remarque: Pour plus de détails sur la création d'une liste de lecteur intelligente, consultez<a href="/media/creating-and-managing-playlists.html"> Création et gestion de listes de lecteur</a>.</aside> </section> </article>