<article class="bcls-article">
  <h1>{{page.title}}</h1> <summary>{{page.description}}</summary> <section class="bcls-section">
    <div class="training-video-player-ipx" data-experience="5a73630f7afd7a00101bc1b5" data-video-ids="6037662519001">&nbsp;</div> <script src="https://players.brightcove.net/20318290001/experience_5a73630f7afd7a00101bc1b5/live.js"></script>
    <h3>Prérequis</h3>
    <ul>
{% if site.product_short == Cloud vidéo-fr/ %}
      <li>Vous avez<a href="/get-started/basics/uploading-videos.html"> mis en ligne</a> des vidéos sur votre compte {{site.product_short}}</li>
   {% endif %} {% if site.product_short == Beacon-fr/ ou site.product_short == CorpTV-fr/ %}
      <li>Vous avez<a href="/get-started/basics/media/uploading-videos.html"> mis en ligne</a> des vidéos sur votre compte {{site.product_short}}</li>
   {% endif %}
    </ul>
    <h3>Étapes</h3>
    <ol class="bcls-tasklist-restart">
       <li>Dans la navigation principale, cliquez sur<strong> Media</strong>.
      </li>
      <li>Cliquez sur le titre d'une vidéo pour ouvrir la page des propriétés de la vidéo. {% if site.product_short == Video Cloud-fr/ %}<figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-media-img/basics/node18803-video-props-vc.png" /></figure> {% endif %}
      </li>
      <li>Les propriétés de la vidéo sont organisées en sections. Pour modifier les propriétés de la vidéo, cliquez sur<span class="button-blue-text-bordered"> Modifier</span> ou double-cliquez dans une section. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-media-img/basics/node18803-edit-video-props.png" /></figure>
      </li>
      <li>Cliquez sur<span class="button-blue"> Enregistrer</span> pour enregistrer les modifications.</li>
    </ol> <aside class="bcls-aside bcls-aside--information">Remarque: Pour plus de détails sur la modification des propriétés vidéo, consultez la section<a href="/media/editing-video-properties-using-media-module.html"> Modification des propriétés vidéo à l'aide du module Media</a>.</aside> </section> </article> 