<article class="bcls-article">
  <h1>{{page.title}}</h1> <summary>{{page.description}}</summary> <section class="bcls-section"> {% if site.product_short == Video Cloud-fr/ %}
    <div class="training-video-player-ipx" data-experience="5a73630f7afd7a00101bc1b5" data-video-ids="6052172921001">&nbsp;</div> <script src="https://players.brightcove.net/20318290001/experience_5a73630f7afd7a00101bc1b5/live.js"></script> {% endif %}
    <h3>Étapes</h3>
    <ol class="bcls-tasklist-restart">
      <li>Dans la navigation principale, ouvrez le<strong> module</strong> Médias.</li>
      <li>Cliquez sur le titre d'une vidéo pour ouvrir la page des propriétés de la vidéo.</li>
      <li>Localisez la<strong> section</strong> Images.</li>
      <li>Survolez l'image de l'affiche et cliquez sur l'icône Parcourir (<img alt="" src="/assets/images/s-media-img/browse-icon.png" />).</li>
      <li>Parcourez et sélectionnez une nouvelle image d'affiche.</li>
      <li>Passez la souris sur l'image miniature et cliquez sur l'icône Parcourir.</li>
      <li>Parcourez et sélectionnez une nouvelle image miniature.</li>
{% if site.product_short == Beacon-fr/ ou site.product_short == CorpTV-fr/ %}
      <li>Pour les images<strong> Wide</strong>, <strong></strong>Portrait et<strong> Ultrawide</strong>, cliquez sur le bouton<strong> Télécharger une nouvelle image </strong>lien, parcourez et sélectionnez une image.</li>
   {% endif %}
    </ol>
    <p>Notez que le traitement peut prendre une minute et que les images apparaissent dans le module Médias.</p>   </section></article>